%h1 {
  font-family: inherit;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%h2 {
  font-family: inherit;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%h3 {
  font-family: inherit;
  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%h4 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@include mobile {
  %h1 {
    font-family: inherit;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  %h2 {
    font-family: inherit;
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  %h3 {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  %h4 {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

%span {
  font-family: inherit;
  font-size: 12px;
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%a {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%p {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%small {
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}