// colors
$c-Accent: #4219D0;
$c-SecondaryAccent: #F4BA47;
$c-Primary: #0F0F11;
$c-Secondary: #89939A;
$c-Icons: #B4BDC3;
$c-Elements: #E2E6E9;
$c-HoverBG: #FAFBFC;
$c-White: #FFFFFF;
$c-Green: #27AE60;
$c-Red: #EB5757;

// media sizes
$s-mobile: 320px;
$s-tablet: 640px;
$s-desktop: 1200px;
$s-desktop-plus: 1440px;

// transition
$effect-duration: 0.3s;
$effect-function: ease;